SECRET_KEY=ABOBA
ALLOWED_HOSTS=158.160.225.164,127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS='https://kittygramapp.space'
DEBUG=True

POSTGRES_DB=django
POSTGRES_USER=django_user
POSTGRES_PASSWORD=mysecretpassword
DB_HOST=db
DB_PORT=5432